:root {
  --cursive: Satisfy, cursive;
  --title: 'Amatic SC', sans-serif;
  --paragraph: 'Open Sans', sans-serif;
  --teal: #087E8B;
  --red: #FF5A5F;
  --black: #3C3C3C;
  --white: #F5F5F5;
  --pink: #C1839F;
}

body {
  margin: 0;
  font-family: var(--paragraph);
}

header, main, footer {
  padding: 20px 50px 5px;
}

h1 {
  margin: 0;
  font-family: var(--cursive);
  font-size: 38pt;
}

h2 {
  font-family: var(--title);
  font-size: 32pt;
  color: var(--teal);
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

a:hover {
  color: var(--teal);
}

p {
  margin: 0;
}

img {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding-right: 10px;
}

header, footer {
  background: var(--pink);
  color: var(--white);
}

main {
  background: var(--white);
  color: var(--black);
}

.featured {
  width: 100%;
}

.greeting {
  width: 100%;
  text-align: right;
}

audio {
  width: 100%;
}

.admin-button {
  background: var(--teal);
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  border: 0;
  transition: none;
  font-size: 12pt;
  font-family: inherit;
  margin: 20px 0;
  cursor: pointer;
}

.post-options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

input[type="text"], textarea {
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  border: 0;
  font-family: inherit;
}
