body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background: lightgrey;
  padding: 10px;
}

h1 {
  color: blue;
}

ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  width: 80px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: bold;
}

main {
  padding: 10px;
}
